<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:hz="http://www.hazelcast.com/schema/spring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.hazelcast.com/schema/spring
        http://www.hazelcast.com/schema/spring/hazelcast-spring.xsd
		">


	<hz:hazelcast id="hazel">
		<hz:config >
			<hz:group name="${hazelcast.group}" password="${hazelcast.pass}" />
			<hz:properties>
				<hz:property name="hazelcast.logging.type">slf4j</hz:property>
				<hz:property name="hazelcast.max.no.heartbeat.seconds">40</hz:property>
				
			</hz:properties>
			<hz:network port="5701" port-auto-increment="false">
				<hz:join>
					<hz:multicast enabled="false" />
	                <hz:tcp-ip enabled="false" />
					<hz:aws enabled="true" 
					access-key="${hazelcast.ec2.awsId}" 
					secret-key="${hazelcast.ec2.awsSecretKey}"
					region="${hazelcast.ec2.region}" 
					tag-key="${hazelcast.tag.key}"
					tag-value="${hazelcast.tag.value}"
					 />
					 <!-- security-group-name="${hazelcast.ec2.security.group}" -->
				</hz:join>
			</hz:network>
	
		</hz:config>
	</hz:hazelcast>

</beans>