[
{rabbit, [ {tcp_listeners, [5672] },
           {ssl_listeners, [5671] },
           {ssl_options, [
             {cacertfile, "/etc/rabbitmq/ssl/ca/cacert.pem" },
             {certfile, "/etc/rabbitmq/ssl/server/cert.pem" },
             {keyfile, "/etc/rabbitmq/ssl/server/key.pem" },
             {verify},
             {fail_if_no_peer_cert, false }]}
]}
].
