<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:security="http://www.springframework.org/schema/security"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:hz="http://www.hazelcast.com/schema/spring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.hazelcast.com/schema/spring
        http://www.hazelcast.com/schema/spring/hazelcast-spring.xsd
        http://www.springframework.org/schema/security 
        http://www.springframework.org/schema/security/spring-security.xsd">

	<security:http pattern="/iddiction*" security="none"/>
	<security:http pattern="/client*" security="none"/>
	<security:http pattern="/client/connection*" security="none"/>

	<security:http auto-config="true">
		<security:intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/chat**" access="hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/logs**" access="hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/stat**" access="hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/"	access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<security:csrf disabled="true"/>
	</security:http>
	

	<security:authentication-manager>
		<security:authentication-provider>
			<security:user-service>
				<security:user name="lvl6admin" password="${jdbc.password}"
					authorities="ROLE_USER,ROLE_ADMIN" />
			</security:user-service>
		</security:authentication-provider>
	</security:authentication-manager>
</beans>