<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:hz="http://www.hazelcast.com/schema/spring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.hazelcast.com/schema/spring
        http://www.hazelcast.com/schema/spring/hazelcast-spring.xsd
	">
	
	<import resource="classpath:spring-hazelcast-cluster-${hazelcast.config}.xml"/>
	
	
	<!-- <hz:atomicNumber id="connectedPlayerCount" name="connectedPlayerCount" instance-ref="hazel" /> -->
	
	
	<hz:queue id="gameEventQueue" name="gameEventQueue" instance-ref="hazel" />
	
	<hz:map id="playersByPlayerId" name="playersByPlayerId" instance-ref="hazel" />
		

	<hz:map id="playersPreDatabaseByUDID" name="playersPreDatabaseByUDID" instance-ref="hazel" />
	
	<hz:map id="messagesForDisconnectedPlayers" name="messagesForDisconnectedPlayers" instance-ref="hazel"/>
		
		
	<hz:map id="playersInActionSet" name="playersInActionSet" instance-ref="hazel"/>
	
	<hz:map id="scheduleTasks" name="scheduledTasks" instance-ref="hazel"/>
	
	<hz:list id="globalChat" name="globalChat" instance-ref="hazel"/>
	
	<hz:list id="goodEquipsRecievedFromBoosterPacks" name="goodEquipsRecievedFromBoosterPacks" instance-ref="hazel" />
 
	<hz:map id="lockMap" name="lockMap" instance-ref="hazel"/>
	
	<hz:map name="dailyHelpsMap"
                backup-count="6"
                read-backup-data="true"
                instance-ref="hazel"/>

	<hz:map name="dailyDonateRequestsMap"
                backup-count="6"
                read-backup-data="true"
                instance-ref="hazel"/>

	<hz:map name="dailyDonateCompletesMap"
                backup-count="6"
                read-backup-data="true"
                instance-ref="hazel"/>

	<hz:map name="chatsPastHourMap"
                backup-count="6"
                read-backup-data="true"
                instance-ref="hazel"/>

	<hz:map name="clanMemberCountMap"
                backup-count="6"
                read-backup-data="true"
                instance-ref="hazel"/>

	
<!-- 	<hz:map id="dailyHelpsMap" name="dailyHelpsMap" backup-count="6" read-backup-data="true" instance-ref="hazel"/> -->

	
<!-- 	<hz:map id="dailyDonateRequestsMap" name="dailyDonateRequestsMap" backup="6" instance-ref="hazel"/> -->
	
<!-- 	<hz:map id="dailyDonateCompletesMap" name="dailyDonateCompletesMap" backup="6" instance-ref="hazel"/> -->
	
<!-- 	<hz:map id="chatsPastHourMap" name="chatsPastHourMap" backup="6" instance-ref="hazel"/> -->

<!-- 	<hz:map id="clanMemberCountMap" name="clanMemberCountMap" backup="6" instance-ref="hazel"/> -->
	
	<hz:list name="leaderboardRanksList"
                backup-count="6"
                read-backup-data="true"
                instance-ref="hazel"/>

	<hz:multimap name="leaderboardKeysByScoreMultiMap"
                backup-count="6"
                read-backup-data="true"
                instance-ref="hazel"/>
                
	<hz:map name="leaderboardScoresByKeyMap"
                backup-count="6"
                read-backup-data="true"
                instance-ref="hazel"/>
	
	<hz:lock name="leaderboardPendingLock"
                backup-count="6"
                read-backup-data="true"
                instance-ref="hazel"/>
                
	<hz:list name="leaderboardPendingQueue"
                backup-count="6"
                read-backup-data="true"
                instance-ref="hazel"/>             

	<hz:lock name="leaderboardLock"
                backup-count="6"
                read-backup-data="true"
                instance-ref="hazel"/>
                                	
	
<!-- 	<hz:list id="leaderboardRanksList" name="leaderboardRanksList" backup="6" instance-ref="hazel"/> -->
	
<!-- 	<hz:multimap id="leaderboardKeysByScoreMultiMap" name="leaderboardkeysByScoreMultiMap" backup="6" instance-ref="hazel"/> -->
	
<!-- 	<hz:map id="leaderboardScoresByKeyMap" name="leaderboardScoresByKeyMap" backup="6" instance-ref="hazel"/> -->
	
<!-- 	<hz:lock id="leaderboardPendingLock" name="leaderboardPendingLock" backup="6" instance-ref="hazel"/> -->
	
<!-- 	<hz:list id="leaderboardPendingQueue" name="leaderboardPendingQueue" backup="6" instance-ref="hazel"/> -->
	
<!-- 	<hz:lock id="leaderboardLock" name = "leaderboardLock" backup="6" instance-ref="hazel"/> -->

	<hz:list name="clanSearchRanksList"
                backup-count="6"
                read-backup-data="true"
                instance-ref="hazel"/>

	<hz:multimap name="clanSearchKeysByScoreMultiMap"
                backup-count="6"
                read-backup-data="true"
                instance-ref="hazel"/>
                
	<hz:map name="clanSearchScoresByKeyMap"
                backup-count="6"
                read-backup-data="true"
                instance-ref="hazel"/>
	
	<hz:lock name="clanSearchPendingLock"
                backup-count="6"
                read-backup-data="true"
                instance-ref="hazel"/>
                
	<hz:list name="clanSearchPendingQueue"
                backup-count="6"
                read-backup-data="true"
                instance-ref="hazel"/>             

	<hz:lock name="clanSearchLock"
                backup-count="6"
                read-backup-data="true"
                instance-ref="hazel"/>


<!-- 	<hz:list id="clanSearchRanksList" name="clanSearchRanksList" backup="6" instance-ref="hazel"/> -->
	
<!-- 	<hz:multimap id="clanSearchKeysByScoreMultiMap" name="clanSearchkeysByScoreMultiMap" backup="6" instance-ref="hazel"/> -->
	
<!-- 	<hz:map id="clanSearchScoresByKeyMap" name="clanSearchScoresByKeyMap" backup="6" instance-ref="hazel"/> -->
	
<!-- 	<hz:lock id="clanSearchPendingLock" name="clanSearchPendingLock" backup="6" instance-ref="hazel"/> -->
	
<!-- 	<hz:list id="clanSearchPendingQueue" name="clanSearchPendingQueue" backup="6" instance-ref="hazel"/> -->
	
<!-- 	<hz:lock id="clanSearchLock" name = "clanSearchLock" backup="6" instance-ref="hazel"/> -->
	
		
		
	<hz:map id="initializationFlags" name="initializationFlags" instance-ref="hazel"/>
	<!-- need to prevent more than one initialization per cluster restart -->
	<hz:map id="pvpUserMap" name="pvpUserMap" instance-ref="hazel"/>
	<hz:map id="clanRaidMonsterDmgMap" name="clanRaidMonsterDmgMap" instance-ref="hazel"/>
		
		
	<hz:topic id="serverEvents" name="serverEvents" instance-ref="hazel"/>
	<hz:topic id="staticDataReloadDone" name="staticDataReloadDone" instance-ref="hazel"/>	
		
	<bean id="playersInAction" class="com.lvl6.utils.PlayerSet" scope="singleton" >
		<property name="players" ref="playersInActionSet" />
	</bean>
	
	<bean class="com.lvl6.clansearch.ClanChatPostDao2" id="clanChatPostDao">
        <constructor-arg index="0" ref="config" />
    </bean>
    
    <bean class="com.lvl6.clansearch.ClanHelpCountForUserDao2" id="clanHelpCountForUserDao">
        <constructor-arg index="0" ref="config" />
    </bean>
    
    <bean class="com.lvl6.clansearch.ClanMemberTeamDonationDao2" id="clanMemberTeamDonationDao">
        <constructor-arg index="0" ref="config" />
    </bean>
    
    <bean class="com.lvl6.mobsters.db.jooq.generated.tables.daos.ClanForUserDao" id="clanForUserDao">
        <constructor-arg index="0" ref="config" />
    </bean>
	 
	
	<bean id="serverMessageHandler" class="com.lvl6.eventhandlers.ServerEventHandler" lazy-init="false" scope="singleton" />
	
<!-- 	<bean id="hazelInstances" class="com.lvl6.eventhandlers.HazelInstanceListener" lazy-init="false" scope="singleton" /> -->
	
	
</beans>
